<!DOCTYPE html>
<html>
  <head>
    <title>shiftit - Migrate your Reddit subscriptions</title>
    <link rel="stylesheet" href="stylesheets/milligram.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/b.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h1>shiftit <span>v0.1.0</span></h1>
          <p><strong>Below are the subreddits from your original account. Please review them, and click 'Subscribe to all' to migrate the subscriptions to your new account.</strong></p>
          <p id="subs"></p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <button id="sub-btn">Subscribe to All</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p id="sub-result"></p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p><strong>Below are the settings associated with your original account. You may migrate them to your new account with the button below.</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <table>
            <thead>
              <tr>
                <th>Setting</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <button id="prefs-btn">Migrate my preferences</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p id="prefs-result"></p>
        </div>
      </div>
    </div>
  </body>
</html>
